<!DOCTYPE html>
{% extends "master.html" %}
{% load static %}
<html lang="es">


{% block title %}
    HUINA
{% endblock %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUINA</title>
     <link rel="icon" type="ICONOVENTANA/jpg" href= "{% static "img/IconoVENTANA.png" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>

        

        <div class="header-content container">
            <div class="header-txt">
                <h1>INVENTARIO🎣</h1>
                <h1>PESCADERIA HUINA</h1>
  
                <p>
                   AYUDAMOS A MANEJAR MEJOR SUS PRODUCTOS </p>

                    <p> Manejamos todo tipo de pescados, mariscos, y pollo
                </p>
               

            </div>
            <div class="header-img">
                <img src={% static "img/img-1.png" %} class="Pescado" alt="">
            </div>
        </div>
   
    
  <section class="info">

        <div class="info-content container">

            <div class="info-txt">
                <p>Conoce un poco sobre nosotros </p>
                <h2>¿Que haremos?</h2>

                <div class="info-sec">


                    <div class="info-1">
                        <img src= {% static "img/logo-info1.png" %} alt="">
                        <div class="info-2">
                            <h3>  UN MEJOR MANEJO DE SU INVENTARIO </h3>
                            <p>
                                Gestionamos todos los productos que ingresen al inventario y los que salgan 
                            </p>

                        </div>

                    

                </div>

            </div>
            <div class="info-img">
                <img src={% static "img/info1.png" %} class="latillo" alt="">

            </div>
        </div>
    </section>


    

    <script src="script.js"></script>
</body>

</html>
{% endblock %}