<!DOCTYPE html>
{% extends "master.html" %}
{% load static %}
{% block title %}
    INGRESO
{% endblock %}
<html lang="es">
{% block content %}
<head>
    <link rel="icon" type="logo/png" href="{% static "img/logo-ori.png" %}">
    
    <link rel="stylesheet" href="{% static "css/login.css" %}">
  <meta charset="UTF-8">
  <title>INGRESO</title>
  <style>
      body {
        background-image: url("{% static "img/fondo-base.jpg" %}");
      }
    </style>
</head>


<body>

  <div class="login-box">
   <center><a href="/"><img src="{% static "img/logo-ori.png" %}"  class="logo" width="60%"></a></center>
    <h2>Iniciar sesión</h2>
    <input type="text" id="usuario" placeholder="Usuario">
    <input type="password" id="contraseña" placeholder="Contraseña">
    <button onclick="verificarLogin()"> <h1>Entrar</h1></button>
    <p class="error" id="mensaje-error"></p>
     <a href="restablecer/" class="contra">Olvidaste tu contraseña?</a>
  </div>

  <script>
    function verificarLogin() {
      const usuario = document.getElementById('usuario').value;
      const contraseña = document.getElementById('contraseña').value;
      const mensajeError = document.getElementById('mensaje-error');

      // Validar usuario y contraseña
      if (usuario === 'administrador' && contraseña === 'admin123') {
        window.location.href = 'inicio.html';
      } else if (usuario === 'usuario' && contraseña === 'usuario123') {
        window.location.href = 'inicio.html';
      } else {
        mensajeError.textContent = 'Usuario o contraseña incorrectos';
      }
    }
  </script>

</body>
</html>
{% endblock %}
