body {
    background-image: url("/pescaderia_huina/core/static/img/fondo-base.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif, Times, serif, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    padding: 30px;
    background-color: rgba(255, 255, 255,.8);
border-radius: 8px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}
.contra {
    padding: 10px;
    width: 100%;
    color: #0c3e57;
    border-radius: 8px;
    cursor: point
}

button {
    padding: 10px;
    width: 100%;
    background-color: #0c3e57;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #297c9a;
}

.error {
    color: red;
}