    body {
            font-family: Arial, sans-serif;
             background-image: url("images/fondo-base.jpg");
             background-size: cover;
       background-attachment: fixed;
       background-position: center;
            padding: 30px;
        }
        .form-container {
            padding: 25px;
            max-width: 400px;
            margin: auto;
                 background-color: rgba(255, 255, 255,.6);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
        }
        input[type="email"] {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="submit"] {
            background-color: #0c3e57;
            color: white;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 5px;
        }
        .success-message {
            color: green;
            font-weight: bold;
            display: none;
        }