# Configuración de Base de Datos PostgreSQL (Supabase)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres.rmkckjjemybpxtombvjk
DB_PASSWORD=tu_contraseña_aqui
DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=5432

# Configuración de Django
DEBUG=False
SECRET_KEY=tu_clave_secreta_aqui
ALLOWED_HOSTS=localhost,127.0.0.1,tu_dominio.com

# Configuración de Email (Gmail)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu_email@gmail.com
EMAIL_HOST_PASSWORD=tu_contraseña_app_gmail

# Google reCAPTCHA
RECAPTCHA_PUBLIC_KEY=tu_clave_publica_recaptcha
RECAPTCHA_PRIVATE_KEY=tu_clave_privada_recaptcha

# Configuración de zona horaria
TIME_ZONE=America/Bogota
LANGUAGE_CODE=es-co
